@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'LINESeed';
}

.markdown {
  @apply font-geist text-neutral-700/90 leading-relaxed;

  h1 {
    @apply text-2xl sm:text-3xl text-zinc-900 font-[600] mb-6 mt-8;
  }

  h2 {
    @apply text-xl sm:text-2xl text-zinc-900 mb-4 mt-8;
  }

  h3 {
    @apply text-lg sm:text-xl text-zinc-900 italic mb-4 mt-6 font-[700];
  }

  h4 {
    @apply text-base sm:text-lg text-zinc-900 mb-4 mt-6;
  }

  h5 {
    @apply text-base text-zinc-900 mt-6;
  }

  p {
    @apply mb-4 mt-0;
  }

  a {
    @apply text-blue-500 underline hover:text-blue-600;
  }

  pre {
    @apply text-sm sm:text-base text-zinc-900 my-4 p-4 rounded-lg overflow-x-auto bg-gray-100;
  }

  code {
    @apply text-zinc-900 text-sm px-1.5 py-0.5 bg-neutral-100 rounded;
  }

  strong {
    @apply text-neutral-900 italic font-[700];
  }

  ul, ol {
    @apply mb-4 mt-4 pl-6;
  }

  li {
    @apply mb-1;
  }

  blockquote {
    @apply pl-4 border-l-4 border-neutral-300 my-4 italic;
  }

  hr {
    @apply my-8 border-neutral-200;
  }

  img {
    @apply my-4 rounded-lg w-64;
  }

  figure {
    @apply my-4;
  }

  figcaption {
    @apply text-sm text-neutral-500 mt-2;
  }
}

@theme {
  --font-geist: "Geist", sans-serif;
}

/** 영어 */
@font-face {
    font-family: 'LINESeed';
    src: url('/fonts/en/LINESeedSans_W_Bd.woff2') format('woff2'),
         url('/fonts/en/LINESeedSans_W_Bd.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeed';
    src: url('/fonts/en/LINESeedSans_W_Rg.woff2') format('woff2'),
         url('/fonts/en/LINESeedSans_W_Rg.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeed';
    src: url('/fonts/en/LINESeedSans_W_Th.woff2') format('woff2'),
         url('/fonts/en/LINESeedSans_W_Th.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

/** 한국어 */
@font-face {
    font-family: 'LINESeed';
    src: url('/fonts/ko/LINESeedKR-Bd.woff2') format('woff2'),
         url('/fonts/ko/LINESeedKR-Bd.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeed';
    src: url('/fonts/ko/LINESeedKR-Rg.woff2') format('woff2'),
         url('/fonts/ko/LINESeedKR-Rg.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeed';
    src: url('/fonts/ko/LINESeedKR-Th.woff2') format('woff2'),
         url('/fonts/ko/LINESeedKR-Th.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

/** 日本語 */
@font-face {
    font-family: 'LINESeed';
    src: url('/fonts/ja/LINESeedJP_OTF_Bd.woff2') format('woff2'),
         url('/fonts/ja/LINESeedJP_OTF_Bd.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    unicode-range: U+3000-30FF, U+4E00-9FFF;
}

@font-face {
    font-family: 'LINESeed';
    src: url('/fonts/ja/LINESeedJP_OTF_Rg.woff2') format('woff2'),
         url('/fonts/ja/LINESeedJP_OTF_Rg.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+3000-30FF, U+4E00-9FFF;
}

@font-face {
    font-family: 'LINESeed';
    src: url('/fonts/ja/LINESeedJP_OTF_Th.woff2') format('woff2'),
         url('/fonts/ja/LINESeedJP_OTF_Th.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    unicode-range: U+3000-30FF, U+4E00-9FFF;
}